body {
  padding-top: 100px;
  background-color: #32302F;
}

.container {
  width: 600px;
  height: auto;
  background-size: 100%;
  background-color: #F9F5D7;
  border-radius: 5px;
}

#twitter-button {
  color: #F9F5D7;
  font-size: 1.3em;
}

#get-quote {
  font-size: 1.3em;
}

#quote-text {
  color: #32302F;
  font-family: "Garamond", serif;
  font-size: 2.5em;
  margin-left: 5px;
  margin-right: 5px;
}

#author-text {
  font-size: 1.5em;
  margin-left: 5px;
}

.quote-row {
  text-align: center;
  padding-top: 40px;
  padding-bottom: 30px;
  padding-left: 20px;
  padding-right: 20px;
}

.buttons-row {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 15px;
}

.btn-primary,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  font-family: "Segoe", "Segoe UI", "Verdana", sans-serif;
  color: #F9F5D7;
  background-color: #32302F;
  border-color: transparent;
  border-radius: 5px;
  border-width: 1px;
  padding-bottom: 8px;
}